.form1 {
  padding-top: 2em;
  background-color: rgba(255, 230, 193, 0.877);
  padding: 5em;
  text-align: center;
  margin: 7em;
}

.one {
  background-size: 100% 1050px;
  /* background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616574476_24-p-svetlo-zelenii-fon-odnotonnii-26.jpg); */
  /* height: 200em; */
  grid-area: text111;
  background: linear-gradient(45deg, #baeeed, #e6f1e1);
  min-height: 55em;

  font-size: 1.2em;
}

.firstform1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". form form form .";
}

.form111f {
  background-color: rgba(255, 255, 255, 0.514);
  padding: 5em;
  margin: 3em;
  grid-area: form;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 2em;
}

.tickcard {
  padding-top: 2em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.fon1 {
  background-size: 100% 1050px;
  background-image: url(https://storge.pic2.me/cm/3840x2160/196/5521a9c857045.jpg);
}

.aform11 {
  padding: 10em;
  color: black;
}

.form11 {
  padding: 10em;
  color: beige;
  font-family: Georgia;
}

.form121 {
  background-color: rgba(235, 183, 106, 0.877);
  padding: 15em;
  margin: 3em;
  text-align: center;
}

.form111 {
  background-color: rgba(235, 183, 106, 0.945);
  padding: 150px;
  margin: 80px;
}

.form1111 {
  padding: 150px;
  margin: 80px;
  text-align: center;
}

.first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". text111 text111 ";
  background-size: 100% 1050px;
  background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616574476_24-p-svetlo-zelenii-fon-odnotonnii-26.jpg);
}

.firstform7 {
  /* max-height: 70em; */
  padding-bottom: 12em;
  /* max-height: 60em; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "button7 . . . . ."
    ". . form form . .";
}

.form117 {
  background-color: rgba(255, 255, 255, 0.514);
  padding: 3em;
  margin-top: 7em;
  grid-area: form;
  font-family: Georgia;
  border-radius: 2em;
}

.button1 {
  grid-area: button7;
}

.buttform {
  text-align: center;
}

.selectDis {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
}

.firstform9 {
  display: grid;
  max-height: 50em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "image name surname . ."
    ". form form form .";
}

.form119 {
  background-color: rgba(255, 255, 255, 0.514);
  padding: 8em;
  border-radius: 2em;
  margin: 3em;
  grid-area: form;
  font-family: Georgia;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "button88 image image nameAndSurname nameAndSurname nameAndSurname ."
    ". myself myself myself myself . .";
}

.textBook {
  text-align: center;
  padding-bottom: 1.5em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.country {
  font-size: 1.5em;
  font-family: Georgia;
  font-style: italic;
}

.button88 {
  grid-area: button88;
}

.image9 {
  grid-area: image;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.myself {
  font-size: 1.5em;
  font-family: Georgia;
  grid-area: myself;
  padding-top: 2em;
}

.myselfspan {
  font-family: Calibri;
}

.form71 {
  background-color: rgba(255, 255, 255, 0.514);
  padding: 10em;
  margin-left: 25em;
  margin-right: 25em;
  border-radius: 2em;
  text-align: center;
}

.pMessage {
  font-size: 1.5em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.pMessage2 {
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.textmmessage {
  padding-top: 2em;
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
}

.tabsdiv {
  /* text-align: center; */
}

.countTickets {
  font-size: 1.1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 10em;
  padding-top: 2em;
  /* margin-right: auto; */
}

.textmmessage1 {
  padding-top: 2em;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.nameAndSurname {
  grid-area: nameAndSurname;
  padding-top: 1em;
}

.name {
  font-size: 3em;
  font-family: Georgia;
}

@media screen and (max-width: 600px) {
  .form1 {
    padding-top: 2em;
    background-color: rgba(255, 230, 193, 0.877);
    padding: 0.5em;
    text-align: center;
    margin: 1em;
  }

  .form11 {
    background-color: rgba(235, 183, 106, 0.877);
    padding: 3em;
  }

  .form111 {
    background-color: rgba(235, 183, 106, 0.945);
    padding: 1em;
    margin: 1em;
    font-size: 0.6em;
  }
}
