.div-home{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". home home home home .";
}

.home {
  grid-area: home;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". text text img1 img2 .";
  background-color: rgb(255, 255, 255);
  padding: 10em;
}

.home_text {
  grid-area: text;
  /* font-size: 2.2em; */
  /* margin-right: 1em; */
}

.home_img1 {
  grid-area: img1;
  margin-left: 7em;
}

.home_img2 {
  grid-area: img2;
  padding-top: 2em;
  margin-left: 2em;
}

.home1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  1fr 1fr;
  grid-template-areas:
    ". . text1 text1 ."
    ". img11 img12 img13 .";
  background-color: rgb(255, 255, 255);
  padding: 10em;
}

.text1{
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  color: cornflowerblue;
}

.text2{
  font-family: "Raleway", sans-serif;
  font-size: 2.8em;
  letter-spacing: 0.05em;
}
.text3 {
  grid-area: text1;
  padding-bottom: 3em;
}

.text33 {
  font-size: 3em;
}

.img11 {
  grid-area: img11;
  padding: 1em;
}

.img12 {
  grid-area: img12;
  padding: 1em;
}

.img13 {
  grid-area: img13;
  padding: 1em;
}

.img1,
::after,
::before {
  box-sizing: border-box;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.food {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". img21 img22 text2 text2 text2 .";
  background-color: rgb(255, 255, 255);
  padding: 10em;
}

.food_text {
  grid-area: text2;
  margin-left: 4em;
}

.food_img1 {
  grid-area: img21;
  margin-left: 7em;
}

.food_img2 {
  grid-area: img22;
  padding-top: 2em;
  margin-left: 2em;
}

.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "room1 room2"
    "room3 room4";
  background-color: rgb(255, 255, 255);
}

.room1 {
  grid-area: room1;
  padding: 0;
}

.room2 {
  grid-area: room2;
  padding: 0;
}

.room3 {
  grid-area: room3;
}

.room4 {
  grid-area: room4;
}

.card {
  text-align: start;
  color: beige;
  /* font-size: 2em; */
  font-family: "Raleway", sans-serif;
}

.con{
  padding: 7em 30em 7em 30em;
  background-color: rgb(255, 255, 255);
  /* padding-left: 10em; */
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "textQuery textQuery textQuery tel tel";
  background-color: rgb(255, 255, 255);
  padding: 2em;
  border: 1px solid rgba(70, 67, 67, 0.356);
}

.text_cont {
  grid-area: textQuery;
  font-size: 30px;
  font-family: 'Raleway',sans-serif;
  font-weight: 0;
  color: rgb(90, 88, 88);
}

.telephone {
  grid-area: tel;
  font-size: 1.5em;
  /* margin-left: 5em;
  margin-top: 0.8em; */
}

.end {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". end1 end2 end3 end4 ."
  ". end end end end .";
  background-color: rgb(0, 0, 0);
  height: 30em;
}

.footer_border {
  border-top: 1px solid rgba(255,255,255,.2);
  padding-bottom: 30px;
}

.theEnd{
  grid-area: end;
}

.end1{
  grid-area: end1;
  /* color:white; */
  line-height: 1.2em;
  /* font-size: 22px; */
  padding-top: 8em;
  font-weight: 0;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: 'Raleway',sans-serif;
}

.ppp{
  color:rgba(190, 190, 190, 0.781);
}

.end2{
  grid-area: end2;
  /* color:white; */
  line-height: 1.2em;
  /* font-size: 22px; */
  padding-top: 7em;
  margin: 1em;
  /* font-size: 1.5em; */
  font-weight: 0;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: 'Raleway',sans-serif;
}

.endTitle{
  font-size: 2em;
  padding-bottom: 1em;
}

.end3{
  grid-area: end3;
  line-height: 1.2em;
  /* font-size: 22px; */
  padding-top: 8em;
  font-weight: 0;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: 'Raleway',sans-serif;
}

.end4{
  grid-area: end4;
  line-height: 1.2em;
  /* font-size: 22px; */
  padding-top: 8em;
  font-weight: 0;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: 'Raleway',sans-serif;
}



/* body {
  background: #1b2631;
} */
.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #2246a8bb;
  color: #1b4fbe6e;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double-border-button:hover:after {
  border-color: #2246a8e8;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.title1{
  font-size: 1.2em;
  color: #4f5458c5;
  font-family: 'Raleway',sans-serif;
}

.ulli{
  font-size: 1.2em;
  color: #4f5458;
  font-family: 'Raleway',sans-serif;
}

.title11{
  font-size: 1.2em;
  padding-top: 1em;
  font-family: 'Raleway',sans-serif;
}


@media screen and (max-width: 1500px){
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "text text text text  img1 img2";
    background-color: rgb(255, 255, 255);
    padding: 7em;
  }
  
  .home_text {
    grid-area: text;
    font-size: 1em;
  }
  
  .home_img1 {
    grid-area: img1;
    margin-left: 7em;
  }
  
  .home_img2 {
    grid-area: img2;
    padding-top: 2em;
    margin-left: 2em;
  }
  
  .home1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . text1 text1 . ."
      " img11 img11 img12 img12 ";
    background-color: rgb(255, 255, 255);
    padding: 10em;
  }
  
  .text1{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    color: cornflowerblue;
  }
  
  .text2{
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .text3 {
    grid-area: text1;
    padding-bottom: 3em;
  }
  
  .text33 {
    font-size: 2em;
  }
  
  .img11 {
    grid-area: img11;
    padding: 1em;
  }
  
  .img12 {
    grid-area: img12;
  }
  
  .img13 {
    visibility: collapse;
    display: none;
  }
  
  .img1,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: " img21 img22 text2 text2 text2 text2 ";
    background-color: rgb(255, 255, 255);
    padding: 1em;
  }
  
  .food_text {
    grid-area: text2;
    margin-left: 4em;
  }
  
  .food_img1 {
    grid-area: img21;
  }
  
  .food_img2 {
    grid-area: img22;
    padding-top: 2em;
    margin-left: 2em;
  }
  
  .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "room1 room2"
      "room3 room4";
    background-color: rgb(255, 255, 255);
  }
  
  .room1 {
    grid-area: room1;
    padding: 0;
  }
  
  .room2 {
    grid-area: room2;
    padding: 0;
  }
  
  .room3 {
    grid-area: room3;
  }
  
  .room4 {
    grid-area: room4;
  }
  
  .card {
    text-align: start;
    color: beige;
    font-family: "Raleway", sans-serif;
  }
  
  .con{
    padding: 3.5em 7em 3.5em 7em;
    background-color: rgb(255, 255, 255);
  }
  
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    grid-template-areas: "textQuery textQuery  tel tel";
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border: 1px solid rgba(70, 67, 67, 0.356);
  }
  
  .text_cont {
    grid-area: textQuery;
    font-size: 30px;
    font-family: 'Raleway',sans-serif;
    font-weight: 0;
    color: rgb(90, 88, 88);
  }
  
  .telephone {
    grid-area: tel;
    font-size: 1.5em;
  }
  
  .end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". end1 end2 end3 end4 ."
    ". end end end end .";
    background-color: rgb(0, 0, 0);
    height: 30em;
  }
  
  .footer_border {
    border-top: 1px solid rgba(255,255,255,.2);
    padding-bottom: 30px;
  }
  
  .theEnd{
    grid-area: end;
  }
  
  .end1{
    grid-area: end1;
    line-height: 1.2em;
    padding-top: 8em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: 'Raleway',sans-serif;
  }
  
  .ppp{
    color:rgba(190, 190, 190, 0.781);
  }
  
  .end2{
    grid-area: end2;
    line-height: 1.2em;
    padding-top: 7em;
    margin: 1em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: 'Raleway',sans-serif;
  }
  
  .endTitle{
    font-size: 2em;
    padding-bottom: 1em;
  }
  
  .end3{
    grid-area: end3;
    line-height: 1.2em;
    padding-top: 8em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: 'Raleway',sans-serif;
  }
  
  .end4{
    grid-area: end4;
    line-height: 1.2em;
    padding-top: 8em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: 'Raleway',sans-serif;
  }

  .double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #2246a8bb;
    color: #1b4fbe6e;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button:hover:after {
    border-color: #2246a8e8;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }
  
  .title1{
    font-size: 1.2em;
    color: #4f5458c5;
    font-family: 'Raleway',sans-serif;
  }
  
  .ulli{
    font-size: 1.2em;
    color: #4f5458;
    font-family: 'Raleway',sans-serif;
  }
  
  .title11{
    font-size: 1.2em;
    padding-top: 1em;
    font-family: 'Raleway',sans-serif;
  }
}


@media screen and (max-width: 1200px){
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1 img1 img2 img2"
    "text text text text";
    background-color: rgb(255, 255, 255);
    padding: 7em;
  }
  
  .home_text {
    grid-area: text;
    font-size: 1em;
    padding-top: 5em;
  }
  
  .home_img1 {
    grid-area: img1;
    margin-left: 1.5em;
    padding-bottom: 2em;
    margin-left: 9em;
    /* text-align: center; */
  }
  
  .home_img2 {
    grid-area: img2;
    padding-top: 2em;
    margin-left: 2em;
    /* display: none; */
  }
  
  .home1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "text1 text1 ."
      "img11 img11 img12 img12";
    background-color: rgb(255, 255, 255);
    /* padding: 10em; */
  }
  
  .text1{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    color: cornflowerblue;
  }
  
  .text2{
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .text3 {
    grid-area: text1;
    margin-left: -7em;
    padding-bottom: 3em;
  }
  
  .text33 {
    font-size: 2em;
  }
  
  .img11 {
    grid-area: img11;
    margin-left: 1em;
    /* padding: 1em; */
  }
  
  .img12 {
    grid-area: img12;
    /* visibility: collapse; */
    /* display: none; */
  }
  
  .img13 {
    visibility: collapse;
    display: none;
  }
  
  .img1,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: " img21 img21 img22 img22"
    "text2 text2 text2 text2";
    background-color: rgb(255, 255, 255);
    padding: 1em;
  }
  
  .food_text {
    grid-area: text2;
    margin-left: 4em;
    padding-top: 3em;
  }
  
  .food_img1 {
    grid-area: img21;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-left: 15em;
  }
  
  .food_img2 {
    grid-area: img22;
    padding-top: 4em;
    /* margin-left: em; */
    /* visibility: collapse; */
    /* display: none; */
  }
  
  .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "room1 room2"
      "room3 room4";
    background-color: rgb(255, 255, 255);
  }
  
  .room1 {
    grid-area: room1;
    padding: 0;
  }
  
  .room2 {
    grid-area: room2;
    padding: 0;
  }
  
  .room3 {
    grid-area: room3;
  }
  
  .room4 {
    grid-area: room4;
  }
  
  .card {
    text-align: start;
    color: beige;
    font-family: "Raleway", sans-serif;
  }
  
  .con{
    padding: 3.5em 7em 3.5em 7em;
    background-color: rgb(255, 255, 255);
  }
  
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textQuery textQuery"
    "tel tel";
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border: 1px solid rgba(70, 67, 67, 0.356);
  }
  
  .text_cont {
    grid-area: textQuery;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 0;
    color: rgb(90, 88, 88);
    text-align: center;
  }
  
  .telephone {
    grid-area: tel;
    font-size: 0.8em;
  }
  
  .end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". end1 ."
    ". end2 ."
    ". end3 ."
    ". end4 ."
    "end end end";
    background-color: rgb(0, 0, 0);
    height: 100em;
  }
  
  /* .footer_border {
    border-top: 1px solid rgba(255,255,255,.2);
    padding-bottom: 30px;
  } */
  
  .theEnd{
    grid-area: end;
    padding: 2em;
    text-align: center;
  }
  
  .end1{
    grid-area: end1;
    line-height: 1.2em;
    padding-top: 3em;
    font-weight: 0;
    color: #fff;
    margin-left: 1em;
    text-transform: capitalize;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }
  
  .ppp{
    color:rgba(190, 190, 190, 0.781);
  }
  
  .end2{
    grid-area: end2;
    line-height: 1.2em;
    padding-top: 1em;
    /* margin: 1em; */
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }
  
  .endTitle{
    font-size: 2em;
    padding-bottom: 1em;
  }
  
  .end3{
    grid-area: end3;
    line-height: 1.2em;
    padding-top: 1em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    margin-left: 1em;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }
  
  .end4{
    grid-area: end4;
    line-height: 1.2em;
    padding-top: 1em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }

  .double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #2246a8bb;
    color: #1b4fbe6e;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button:hover:after {
    border-color: #2246a8e8;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }
  
  .title1{
    font-size: 1.2em;
    color: #4f5458c5;
    font-family: 'Raleway',sans-serif;
  }
  
  .ulli{
    font-size: 1.2em;
    color: #4f5458;
    font-family: 'Raleway',sans-serif;
  }
  
  .title11{
    font-size: 1.2em;
    padding-top: 1em;
    font-family: 'Raleway',sans-serif;
  }
}



@media screen and (max-width: 600px){
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img1 img1 img1"
    "text text text";
    background-color: rgb(255, 255, 255);
    padding: 7em;
  }
  
  .home_text {
    grid-area: text;
    font-size: 1em;
  }
  
  .home_img1 {
    grid-area: img1;
    margin-left: 1.5em;
    padding-bottom: 2em;
    /* margin-left: 7em; */
    /* text-align: center; */
  }
  
  .home_img2 {
    grid-area: img2;
    /* padding-top: 2em; */
    /* margin-left: 2em; */
    display: none;
  }
  
  .home1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "text1 text1 ."
      " img11 img11 img11 ";
    background-color: rgb(255, 255, 255);
    /* padding: 10em; */
  }
  
  .text1{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    color: cornflowerblue;
  }
  
  .text2{
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .text3 {
    grid-area: text1;
    padding-bottom: 3em;
  }
  
  .text33 {
    font-size: 2em;
  }
  
  .img11 {
    grid-area: img11;
    margin-left: -6em;
    /* padding: 1em; */
  }
  
  .img12 {
    grid-area: img12;
    visibility: collapse;
    display: none;
  }
  
  .img13 {
    visibility: collapse;
    display: none;
  }
  
  .img1,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " img21 img21 img21 "
    "text2 text2 text2";
    background-color: rgb(255, 255, 255);
    padding: 1em;
  }
  
  .food_text {
    grid-area: text2;
    margin-left: 4em;
  }
  
  .food_img1 {
    grid-area: img21;
    padding-bottom: 2em;
    padding-top: 2em;
  }
  
  .food_img2 {
    grid-area: img22;
    padding-top: 2em;
    margin-left: 2em;
    visibility: collapse;
    display: none;
  }
  
  .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "room1 room2"
      "room3 room4";
    background-color: rgb(255, 255, 255);
  }
  
  .room1 {
    grid-area: room1;
    padding: 0;
  }
  
  .room2 {
    grid-area: room2;
    padding: 0;
  }
  
  .room3 {
    grid-area: room3;
  }
  
  .room4 {
    grid-area: room4;
  }
  
  .card {
    text-align: start;
    color: beige;
    font-family: "Raleway", sans-serif;
  }
  
  .con{
    padding: 3.5em 7em 3.5em 7em;
    background-color: rgb(255, 255, 255);
  }
  
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textQuery textQuery"
    "tel tel";
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border: 1px solid rgba(70, 67, 67, 0.356);
  }
  
  .text_cont {
    grid-area: textQuery;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 0;
    color: rgb(90, 88, 88);
    text-align: center;
  }
  
  .telephone {
    grid-area: tel;
    font-size: 0.8em;
  }
  
  .end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". end1 ."
    ". end2 ."
    ". end3 ."
    ". end4 ."
    "end end end";
    background-color: rgb(0, 0, 0);
    height: 100em;
  }
  
  /* .footer_border {
    border-top: 1px solid rgba(255,255,255,.2);
    padding-bottom: 30px;
  } */
  
  .theEnd{
    grid-area: end;
    padding: 2em;
    text-align: center;
  }
  
  .end1{
    grid-area: end1;
    line-height: 1.2em;
    padding-top: 3em;
    font-weight: 0;
    color: #fff;
    margin-left: 1em;
    text-transform: capitalize;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }
  
  .ppp{
    color:rgba(190, 190, 190, 0.781);
  }
  
  .end2{
    grid-area: end2;
    line-height: 1.2em;
    padding-top: 1em;
    /* margin: 1em; */
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }
  
  .endTitle{
    font-size: 2em;
    padding-bottom: 1em;
  }
  
  .end3{
    grid-area: end3;
    line-height: 1.2em;
    padding-top: 1em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    margin-left: 1em;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }
  
  .end4{
    grid-area: end4;
    line-height: 1.2em;
    padding-top: 1em;
    font-weight: 0;
    color: #fff;
    text-transform: capitalize;
    /* margin-bottom: 40px; */
    font-family: 'Raleway',sans-serif;
  }

  .double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #2246a8bb;
    color: #1b4fbe6e;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button:hover:after {
    border-color: #2246a8e8;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }
  
  .title1{
    font-size: 1.2em;
    color: #4f5458c5;
    font-family: 'Raleway',sans-serif;
  }
  
  .ulli{
    font-size: 1.2em;
    color: #4f5458;
    font-family: 'Raleway',sans-serif;
  }
  
  .title11{
    font-size: 1.2em;
    padding-top: 1em;
    font-family: 'Raleway',sans-serif;
  }
}