.one {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-size: 100% 1050px ;
  height: 65em;
  background-image: url(https://chili59.ru/images/sliders/sl5.jpg); */
  /* background-color: rgb(250, 248, 248); */
}
