.div-country{
  display: grid;
  background-size: 100% 1050px ;
  height: 54em;
  background-image: url(https://chili59.ru/images/sliders/sl5.jpg);
}

.div-form-country{
  grid-area: form11;
  font-size: 3em;
  line-height: 1.1em;
  text-align: center;
}

.div-container {
  width: 100%;
  margin-top: 3em;
  font-size: 0.5em;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.img-country{
  margin-top: 1em;
  height: 650px;
  grid-area: form11;
}

.imgTurkey1{
  font-size: 1.2em;
}

.h1-title-country{
  margin-top: 1em;
  grid-area: form1;
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  font-family: DomCasual Normal;
  color: rgb(250, 250, 250);
}

.p-text-country{
  text-align: start;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: DomCasual Normal;
  color: rgb(17, 70, 17);
}
.textTurkey1{
  margin-top: 2em;
  margin-left: 14em;
  font-size: 0.6em;
  line-height: 1.5em;
  font-family: DomCasual Normal;
}