.div-book-ticket{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  ". block2 block2 block2 block2 block2 block2 ."
  ;
  
}

.div-block-form{
  background-color: rgba(236, 255, 253, 0.815);
  grid-area: block2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "header1 header1 header1 header1 header1 header1"
  ". . bookedTicket bookedTicket . ."
  ;
}

.img-book-header{
  grid-area: header1;
  /* background-color: rgba(240, 248, 255, 0.617); */
  width: 1500px;  opacity: .5;
}

.div-book-form{
  min-height: 29em;
  margin-top: -13em;
  grid-area: bookedTicket;
}

.card-book{
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.button-book-ticket{
  width: 12em;
  margin: auto;
  margin-bottom: 2em;
}

.img-book-url{
  padding-top: 1em;
}

.button-book-back{

}
