.div-tickets-block{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  ". block1 block1 block1 block1 block1 block1 ."
  ;
}

.div-tickets{
  background-color: rgba(236, 255, 253, 0.815);
  grid-area: block1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "headerTicket headerTicket headerTicket headerTicket headerTicket headerTicket "
  ". . titleTickets titleTickets . . "
  "ticketCard ticketCard ticketCard ticketCard ticketCard ticketCard "
  ;
}

.img-ticket-header{
  grid-area: headerTicket;
  width: 1500px;
}

.div-tickets-title{
  padding-top: 2em;
  grid-area: titleTickets;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-family: 'Raleway',;
}

.div-tickets-cards{
  margin-left: 3em;
  grid-area: ticketCard;
  min-height: 32em;
}

.tickcard{
  padding-left: 3.5em;
}

.p-ticket-country{
  padding-top: 1.5em;
  margin-left: 0.4em;
  padding-bottom: 1.5em;
  font-size: 1.5em;
  font-weight: 300;
  font-family: 'Raleway',;
}

.span-ticket-country{
  font-style: italic;
}

.card-tickets{
  width: 18rem; 
  margin: 1.4em;
}

.img-url{
  padding-top: 1em;
}

.button-book-now{
  margin-top: 1em;
  margin-left: 2.2em;
  height: 3em;
  width: 10em;
  background-color: white;
  border-color: rgb(0, 140, 255);
  color:rgb(0, 140, 255);
}

.button-book-now:hover{
  margin-top: 1em;
  height: 3em;
  width: 10em;
  color: white;
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
}

.card-title{
  padding-bottom: 1em;
}

.img-hotel{
  width: 29em;
}

.modal-title{
  padding-left: 1em;
  font-weight: 400;
  font-family: 'Raleway',;
}

.div-body{
  padding-top: 2em;
  padding-left: 2em;
}

.p-book-hotel{
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Raleway',;
}

.text-message{
  padding-top: 1em;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Raleway',;
  font-style: italic; 
}