.slider{
  background-size: 100% 700px ;
  height: 20em;
}

.sl{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: " slider slider slider";
}
.sliderBar{
  grid-area: slider;
  margin-left: 20em;
  margin-right: 20em;
}

.img-slider{
  height: 30em;
  /* margin-left: 6em;
  margin-right: 6em; */
}

.div-slider{
  background-color: rgba(255, 255, 255, 0.87);}